/* Contenedor principal */
.container {
  width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  justify-content: center;
  align-items: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 0 20px;
}

h1 {
  margin-top: 50px;
  font-size: 6rem; /* Reduce el tamaño del título */
  color: #083022;
  margin-bottom: 10px; /* Añade espacio debajo del título */
}

p {
  font-size: 1.5rem; /* Ajusta el tamaño del texto de los jugadores */
  color: #000000;
}

img {
  width: 80px; /* Tamaño ajustado de los dados */
}

/* Estilos del botón */
.roll-btn {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 10px 20px; /* Ajusta el tamaño del botón */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-top: 20px; /* Ajusta la separación con los dados */
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.roll-btn:hover {
  background-color: #45a049;
}

.roll-btn:active {
  background-color: #3e8e41;
  transform: scale(0.95);
}

.roll-btn:focus {
  outline: none;
}

/* Centrado adicional del contenido de la página */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
